# ======================================
# Python / Django
# ======================================
__pycache__/
*.py[cod]
*.egg-info/
*.pid
*.log
*.pot
*.mo

# Django stuff
db.sqlite3
local_settings.py
settings_local.py

# Static
staticfiles/
static/


# ======================================
# Virtual environments
# ======================================
venv/
env/
.venv/


# ======================================
# ML models & outputs
# (keep only important pkl files you need for inference)
# ======================================
ml/output/models/*.joblib
ml/output/models/*.pkl
ml/output/models/*.sav
ml/output/plots/*.png
ml/output/plots/*.pdf
ml/output/plots/*.jpg

# ML outputs
ml/output/models/*
ml/output/plots/*
data/*
*.csv
*.pkl

# keep these directories visible
!ml/
!ml/output/
!ml/output/models/
!ml/output/plots/
!data/

# unignore specific critical files
!ml/output/models/model_refined.pkl
!ml/output/plots/metrics.json
!data/model_training_dataset.csv



# ======================================
# Node / React
# ======================================
node_modules/
build/
dist/
.env
.env.local
.env.production


# ======================================
# IDE / OS
# ======================================
.idea/
.vscode/
.DS_Store
*.swp
Thumbs.db
